<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>VRMS 회원가입(email 인증)</title>
    <link type="text/css" rel="stylesheet" href='/css/w3.css'>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
</head>

<body class="w3-container">
    <form class="w3-panel w3-card-4" action="/getEmail" method="POST">
        <p>
            <label>이메일</label>
            <br>
            <input type="email" class="w3-input" placeholder="이메일" name="email" />
        </p>
        <input class="w3-btn w3-lime" type="submit" value="인증" />
        <% if (message.length > 0) { %>
            <div class="alert alert-warning" role="alert">
                <strong>
                    <%= message %>
                </strong>
            </div>
            <% } %>
    </form>
    </script>
</body>

</html>