<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>VRMS</title>
        <link type="text/css" rel="stylesheet" href= '/css/w3.css'>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    </head>
    <body class="w3-container">
        <form class="w3-panel w3-card-4" action="/getpoint" method="post">
            <input class="w3-input" type="text" placeholder="받는사람" name="receiver" />
            <input class="w3-btn w3-lime" type="submit" value="전송" />
        </form>
    </body>
</html>

