<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>V.R.M.S</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/css/index.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <style>
        @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
        body {
            font-family: "Nanum Gothic", sans-serif !important;
        }
    </style>
</head>

<body class="blur">


    <div class="container text-center">

        <div class="col-md-6 description">
            <h1><b>Built for Your Childrens</b></h1><br>
            <p style="font-size: 20px">
                자녀들이 안심하고 뛰어놀 수 있는 환경을 제공해주는 Connect & Place입니다. <br>아이들이 지정된 공간에서 놀 수 있게 만들어 주는 안심펜스 시스템, 안전 신고 시스템, 아이들이 활동하면서 point가 쌓이는 Point시스템을 제공하고 있습니다.
            </p>
            <br>


        </div>

        <% if(!user) { %>
            <form action="/login" class="col-md-6" method="POST">
                <div>
                    <a href="/">
                        <img class="img-fluid" src="img/CPW.png" height="80">
                    </a>
                </div>
                <Br>
                <div style="margin-bottom: 1%;" class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input id="username" type="text" class="form-control" name="username" placeholder="아이디">
                </div>

                <div style="margin-bottom: 1%;" class="input-group">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-lock"></i>
                    </span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="비밀번호">
                </div>

                <br>
                <input type="submit" class="login_submit" value="로그인" />

                <hr style="width:30%;border-top-width: 2px;" color="#000000" />
                <p> 계정이 없으신가요? |
                    <a href="/emailAuth" class="signup_submit"> 회원 가입 </a>
                </p>
            </form>
            <% } %>
                <div class="welcome_div">
                    <% if(user) { %>
                        <p class="col-md-6" style="font-size: 4rem; width: 100%">
                            <b>Welcome
                                <%=user%>!</b>
                        </p>
                        <a class="userlink" href="/profile">프로필</a>
                        <br>
                        <br>
                        <a class="userlink" href="/main">지도로 이동하기</a>
                        <br>
                        <br>
                        <a class="userlink" href="/statics">통계</a>
                        <br>
                        <br>
                        <a class="userlink" href="/logout">로그아웃</a>
                        <% } %>
                </div>
    </div>
</body>

</html>
