<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width",initial-scale="1">
    <title>V.R.M.S</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.4.js"></script>
    <style>
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); 
body{   
    font-family: "Nanum Gothic", sans-serif!important;

}
</style>
  </head>
  <body style="background-color:#f8f8f8">
      
                

<div class="container text-center" style="margin-top: 15%">


        <div class="col-md-6" style="float: left;padding: 30px;">
                <h3>서비스 설명</h3>
                <p>Is post each that just leaf no. He connection interested so we an sympathize advantages.
                     To said is it shed want do. Occasional middletons everything so to. Have spot part for his quit may. Enable it is square my an regard.
                      Often merit stuff first oh up hills as he. Servants contempt as although addition dashwood is procured. Interest in yourself an do of numerous feelings cheerful confined. 
                  </p><br>

                        <a href="/mainMap" style="color: black; font-size: 13px;float:right" >
                          지도가기
                              <img width="100" src="img/map.png">
                          </a>

                      </div>

             <% if(!user) { %>           
            <form action="/login"  class="col-md-6" method="POST">
            <div><a href="/"><img class="img-fluid" src="img/text_logo_explain.png" height="80" ></a></div><Br>
              <div style="margin-bottom: 1%;" class="input-group" >
                          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                          <input id="username" type="text" class="form-control" name="username"  placeholder="아이디">
              </div>


              <div style="margin-bottom: 1%;" class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                          <input id="password" type="password" class="form-control" name="password" placeholder="비밀번호">

            </div>
 
 
<br>
<input type="submit" style="font-size:15px;height:35px;width: 200px; border-radius:100em!important;"  value="로그인">

        <hr style="width:30%;border-top-width: 2px;" color="#000000">
        <p> 계정이 없으신가요? |
         <a href="/emailAuth" style="color:#000000; display:inline-block"> 회원 가입  </a>
            </p>
 
        </form>
	<% } %>
	<% if(user) { %>
	<div>
		welcome <%=user%>
	</div>
	<% } %>
    </div>

  </body>
</html>



