<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to B.L.T</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta http-equiv="content-script-type" content="text/javascript"> 
        <link type="text/css" rel="stylesheet" href= '/css/mainMap.css'>
        <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=EzUf5_07z65lc8sKq2px&submodules=geocoder"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    </head>
    <body class="body">
        <header>
            <div>Logo</div>
            <div class="menubar">
                <ul>
                    <li><a href="#" id="current">유저</a>
                        <ul>
                            <li><a href="/profile?username=<%= username %>">프로필</a></li>
                            <li><a href="/logout">로그아웃</a></li>
                            <li><a href="/statics">통계</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="test"></div>
        </header>

        <section class="main">

            <nav class="main_nav">
                <div>
                        <input type="string" name="address" id="address" />
                        <input type="button" value="지역검색" id="searchAjax" />
                </div>
                <div>
                    <p class="addressResult"></p>
                    <ul id="addressList">

                    </ul>
                </div>
            </nav>

            <main class="main_main">
                <div class="finduser">
                    <input type="string" name="report" id="report" />
                    <input type="button" value="유저 검색" name="finduserbtn" />
                </div>
                <div id="map" style="width:100%;height:700px;"></div>
            </main>

        </section>

        <footer>
            <p>copyright</p>
        </footer>
        <script>
            var mapposition = getLocation();

            var mapOptions = {
                center: mapposition,
                zoom: 10,
                zoomControl: true
            };

            var map = new naver.maps.Map('map', mapOptions);

            var marker = new naver.maps.Marker({
                map: map,
                position: null
            });

            var infoWindow = new naver.maps.InfoWindow({
                anchorSkew: true
            })

            var markers = [];
            var infoWindows = [];
            var itemsArr = [];

            var eventSource = new EventSource('http://localhost:8080/updates');

            eventSource.addEventListener('connected', (e) => {
                console.log(e.data);
                console.log(JSON.parse(e.data));
                var str = JSON.parse(e.data);
                document.getElementById('test').innerHTML += '<p>'+str.x+'</p>'+'<p>'+str.y+'</p>'+'<p>'+str.date+'</p>';
                var position = new Array();
                for(var key in str.x) {
                    position.push(new naver.maps.LatLng(str.x[key], str.y[key]));

                    console.log('position: '+position);
                    var marker = new naver.maps.Marker({
                        map: map,
                        position: position[key],
                        icon: './img/Report_Marker.png',
                        zindex: 100
                    });

                    markers.push(marker);
                }


                getAddress(position);


                
            });

            function getAddress(position){
                    for(i in position){
                        naver.maps.Service.reverseGeocode({
                            location: position[i]
                        }, function(status, response) {
                            if (status !== naver.maps.Service.Status.OK) {
                                return alert('Something wrong!');
                            }
                            var result = response.result, // 검색 결과의 컨테이너
                                items = result.items; // 검색 결과의 배열
                            var itemA = items[0].address;
                            console.log('itemA: '+itemA);
                            var infoWindow = new naver.maps.InfoWindow({
                                content: '<div style="width:150px;text-align:center;padding:10px;">신고발생!<br> 주소: '+ itemA +'</div>'
                            });
                            infoWindows.push(infoWindow);
                        });

                    }


                    console.log(markers.length);

                    for (var i=0, ii=markers.length; i<ii; i++) {
                        console.log('markers:'+markers[i].position);
                        naver.maps.Event.addListener(markers[i], 'click', getClickHandler(i));
                    }
                
            }

            function getClickHandler(seq) {
                return function(e) {
                    var marker = markers[seq],
                        infoWindow = infoWindows[seq];

                    infoWindow.getMap() === null;
            
                    if (infoWindow.getMap()) {
                        infoWindow.close();
                    } else {
                        infoWindow.open(map, marker);
                    }
                }
            }
            

            function getLocation() {
                if(navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(userPos => {
                        console.log('lat: '+userPos.coords.latitude+', lng: '+userPos.coords.longitude);
                        return new naver.maps.LatLng(userPos.coords.latitude, userPos.coords.longitude);
                    }, error => {
                        console.error(error);
                    }, {
                        enableHighAccuracy: false,
                        maximumAge: 0,
                        timeout: Infinity
                    });
                } else {
                    return new naver.maps.LatLng(37.3595704, 127.105399);
                }
            }

            //document.getElementById('searchAjax').addEventListener('click', function(){
            //    var inputdata = document.forms[0].elements[0].value;
            //    sendAjax('http://127.0.0.1:3000/search/local?address=', inputdata);
            //})

            $(document).ready(function() {
                $('#searchAjax').click(function(){
                    $('#addressList').empty();
                    var a = $('#address').val();
                    console.log('a: '+a);
                    if(a == null){
                        alert('검색 비어있음');
                        $('#address').val("");
                        return;
                    }$.post('/search/local', {address:a}, function(data){
                        console.log('success Ajax');
                        //var title = JSON.stringify(data.result.rss.channel[0].item);
                        //console.log('title: '+title);
                        for(let i in data.titles){
                            //$('#addressList').append('<li></li>', data.titles[i]);
                            //$('#addressList').append('<li></li>', data.telephones[i]); 
                            //$('#addressList').append('<li></li>', data.roadAddresss[i]);
                            var addressList = $('<div>', {click: function(e){
                                e.preventDefault();
                                console.log(data.mapxs[i], data.mapys[i]);
                                console.log(naver.maps.Point(data.mapxs[i], data.mapys[i]));
                                var newPosition = naver.maps.TransCoord.fromTM128ToLatLng(new naver.maps.Point(data.mapxs[i], data.mapys[i]));
                                console.log(newPosition);
                                map.setCenter(newPosition);
                                marker.setPosition(newPosition);
                            }
                            }).text(data.titles[i]+', '+data.telephones[i]+', '+data.roadAddresss[i]+', '+data.mapxs[i]+', '+data.mapys[i]);
                            $('#addressList').append(addressList);
                            //$('#addressList').append(addressList);
                            /*$('#addressList li').click(function(){
                                $('#addressList li').on('click', function(e){
                                    e.preventDefault();
                                    var newPosition = naver.maps.TransCoord.fromTM128ToLatLng(data.mapxs[i], data.mapys[i]);
                                    map.setCenter(newPosition);
                                });
                            });*/
                        }
                    },'json');
                });
            });
            //var document.getElementById('addressList').getElementsByTagName('li').addEventListener("click", function(){
            //    var newPosition = naver.maps.TransCoord.fromTM128ToLatLng(data.mapxs[i], data.mapys[i]);
            //    map.setCenter(newPosition);
            //});
                //var ev = new EventSource('/inform');
                //ev.addEventListener('inform', result => {
                //    console.log('result: '+JSON.stringify(result));
                //    document.getElementById('test').innerHTML += '<p>'+result.data+'</p>';
                //});
                
        </script>
    </body>
</html>