<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>reportCreateTest Of BLT</title>
    </head>
    <body>
        <form action="/crt" method="POST">
	        <p>
	    	    <label>username</label><br>
		        <input type="text" placeholder="username" name="username" />
	        </p>
            <p>
                <label>telephone</label><br>
                <input type="text" placeholder="telephone" name="telephone" />
            </p>
            <p>
                <label>x</label><br>
                <input type="text" placeholder="x" name="x" />
            </p>
            <p>
                <label>y</label><br>
                <input type="text" placeholder="y" name="y" />
            </p>
            <p>
                <label>num</label>
                <input type="text" placeholder="num" name="num" />
            </p>
            <input type="submit" value="create!" />
            
        </form>
    </body>
</html>
