body{
    margin:0;
}

.menu-item{
    width: 100%;
    height: 4rem;
    background-color: gray;
    margin: 0;
    list-style: none;
    padding-left: 0px;
    float: right;
}

.menu-item li{
    float: left;
    display: inline;
}